# ── Directories ───────────────────────────────────────────────────────────────
EXCEL_DIR=C:\path\to\excel\folder

# ── Sheet names ───────────────────────────────────────────────────────────────
SHEET_D020=D020
SHEET_TO012=Tabel DimensieKPI_data
SHEET_TP041=TP041
